 ## üìòPython Assignment ‚Äì File Operations & Functions
-   Machine Learning Diploma ‚Äì Python Module
-   Instructor: Eng. George Samuel
-   Week: File Handling & Automation Practice
-  Assignment Type: Coding + Logical Thinking

You Name : ÿßÿ≠ŸÖÿØ ŸÖÿ≠ŸÖÿØ ŸäŸàÿ≥ŸÅ ÿßŸÑÿÆŸÅŸäŸÅ

1. Add an item to a tuple

In [6]:
my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
# your code here
my_tuple=list(my_tuple)
my_tuple.append(4)
new_tuple=tuple(my_tuple)

print(new_tuple)

(1, 2, 3, 4)

{Hint}: Tuples cannot change. Convert to list ‚Üí modify ‚Üí tuple.

2. Sum all the items in a list

In [7]:
numbers = [5, 10, 15, 20]

# TODO: loop through the list and calculate the total
total = 0
# your code here
for i in numbers:
    total+=i

print(total)

# Hint: Use a for loop and accumulate values into total.

50

3. Multiply all items in a list

In [8]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
# your code here
for i in numbers:
    result*=i

print(result)
# Hint: Start from 1 and multiply one element at a time.

24

4. Get the smallest number from a list

In [9]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())
smallest = numbers[0]
# your code here
for i in numbers:
    if i < smallest:
        smallest=i

print(smallest)
# Hint: Replace smallest when you find a smaller value.

1

5. Get the largest number from a list

In [10]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
largest = numbers[0]
# your code here
for i in numbers:
    if i>largest:
        largest=i

print(largest)
# Hint: Same idea as smallest ‚Äî just check for bigger values.

25

6. Count number of strings with length ‚â• 2

In [15]:
words = ["hi", "a", "hello", "no", "on"]

# TODO: count strings with length >= 2
count = 0
# your code here
for i in words:
    if len(i)>=2:
        count+=1

print(count)
# Hint: Use len(word) and a condition.

4

7. Clone or copy a list

In [20]:
original = [1, 2, 3, 4]

# TODO: copy the list (not assignment)
# your code here
cloned=[]
# solution_1
#       cloned=original.copy()
# solution_2
for i in original:
    cloned.append(i)
print(cloned)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

[1, 2, 3, 4]

8. Remove item(s) from a set

In [ ]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
# your code here
my_set.remove(3)
#   my_set.discard(2)

print(my_set)
# Hint: Use remove() or discard().

{1, 2, 4, 5}

9. Check if a set is subset of another

In [28]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
# your code here
if set1.issubset(set2):
    print("set1 is subset of set2")
elif set2.issubset(set1):
    print("set2 is subset of set1")
else:
    print("No subset sets")



# Hint: Use .issubset() or compare elements manually.

set1 is subset of set2

10. Remove all elements from a set

In [29]:
my_set = {1, 2, 3}

# TODO: clear the set
# your code here
my_set.clear()

print(my_set)

# Hint: Sets have a method that makes them empty.

set()

11. Find max and min values in a set

In [33]:
my_set = {10, 3, 25, 1, 7}

# TODO: find max and min manually
# your code here
my_list=list(my_set)
maximum=my_list[0]
minimum=my_list[0]
for i in my_list:
    if i>maximum:
        maximum=i
    if i<minimum:
        minimum=i

print("Max:", maximum)
print("Min:", minimum)
# Hint: Convert to a list or loop through items.

Max: 25
Min: 1

12. Find the index of an item in a tuple

In [36]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
# your code here
index_value=my_tuple.index(30)

print(index_value)
# Hint: Tuples have a method for this.

2

13. Convert a tuple to a dictionary

In [37]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
# your code here
my_dict=dict(my_tuple)

print(my_dict)
# Hint: A dictionary can be built directly from pairs.

{'a': 1, 'b': 2, 'c': 3}

14. Unzip a list of tuples into individual lists

In [43]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
# your code here
list1=[]
list2=[]
for i,j in pairs:
    list1.append(i) 
    list2.append(j) 
# list1,list2=zip(*pairs)

print(list1)
print(list2)
# Hint: You can loop OR use zip(*pairs).

[1, 3, 5]
[2, 4, 6]

15. Reverse a tuple

In [45]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
# your code here
reversed_tuple=my_tuple[::-1]

print(reversed_tuple)
# Hint: Use slicing.

(5, 4, 3, 2, 1)

16. Convert a list of tuples into a dictionary

In [46]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
# your code here
my_dict=dict(pairs)

print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

{'a': 1, 'b': 2, 'c': 3}

17. Replace the last value of each tuple in a list

- Sample list:
- [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- Expected output:
- [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [58]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
# your code here)
list_1=list(data[0]) 
list_2=list(data[1]) 
list_3=list(data[2]) 

list_1[-1]=100
list_2[-1]=100
list_3[-1]=100

list_1=tuple(list_1)
list_2=tuple(list_2)
list_3=tuple(list_3)

new_list=[list_1, list_2, list_3]
print(new_list)
# Hint: Convert each tuple to list, edit, convert back.

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Sort a tuple by its float element

In [64]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))

# TODO: sort by the float value
# your code here


sorted_items=sorted(items, key=lambda x: x[1])
sorted_items=tuple(sorted_items)
print(sorted_items)
# Hint: Use sorted() with a key function.

(('item2', 5.7), ('item3', 8.9), ('item1', 10.5))

## challenge part

Find the longest word in a list

In [70]:
words = ["hi", "hello", "fantastic", "world"]

# TODO: find the longest word
longest=words[0]

for i in words:
    if len(i)>len(longest):
        longest=i


print(longest)
# Hint: Track the word with the largest len().

fantastic

Merge two dictionaries

In [87]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

# TODO: merge into one dictionary
result={**d1,**d2}
print(result)

d1.update(d2)
print(d1)
# Hint: Use unpacking or update().

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Sum values in a dictionary

In [ ]:
data = {"a": 10, "b": 20, "c": 30}

# TODO: sum all dictionary values

print(total)

solution

In [74]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

60

New Challenge

In [88]:
# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = 0      # TODO: start total at 0

for student_data in scores.values():# TODO: loop over values of the dictionary
    for score in student_data.values(): # TODO: loop over inner dictionary values
        total+= score              # TODO: update the total

print(total)       # TODO: print the result

#hint you will need nested for loop one

510