In [2]:
list_one = [1, 2, 3, "amit", "learning", True, ["ml", "dl", "cv", "nlp"]]

In [3]:
list_one[4]

'learning'

In [4]:
list_one[6][0]

'ml'

In [5]:
list_one[6][0]="ds"
list_one

[1, 2, 3, 'amit', 'learning', True, ['ds', 'dl', 'cv', 'nlp']]

In [6]:
list_1=["depi", "learning", "ml"]
list_1.append("dl")
list_1

['depi', 'learning', 'ml', 'dl']

In [7]:
list_1.insert(0,"ds")
list_1

['ds', 'depi', 'learning', 'ml', 'dl']

In [15]:
list_2=[1, 2, 3]
list_3=[4, 5, 6]
list_2 + list_3

[1, 2, 3, 4, 5, 6]

In [16]:
list_2

[1, 2, 3]

In [18]:
list_2.extend(list_3)
list_2

[1, 2, 3, 4, 5, 6]

In [19]:
x=5
del x
x

NameError: name 'x' is not defined

In [20]:
list_2.remove(5)
list_2

[1, 2, 3, 4, 6]

In [21]:
list_2.pop()
list_2

[1, 2, 3, 4]

In [22]:
list_2.pop(0)
list_2

[2, 3, 4]

In [23]:
del list_2[0]
list_2

[3, 4]

In [24]:
lst1=[1, 2, 3]
lst2=[4, 5, 6]
lst3=[7, 8, 9]

matrix=[lst1, lst2, lst3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
lst=["one", "two", "three", 4.6]
lst[:]

['one', 'two', 'three', 4.6]

In [27]:
lst*2

['one', 'two', 'three', 4.6, 'one', 'two', 'three', 4.6]

In [31]:
name= input("Enter your name")
name

'5'

In [32]:
type(name)

str

In [36]:
name_= input("Enter your name")
id=input("enter your id ")
print(f"my name is {name_}, my id is {id}")

my name is Ahmed, my id is 201

In [37]:
input_list=["depi", "learnng", "python"]
item= input("Enter values")
input_list.remove(item)
print(f"output list {input_list}")

output list ['learnng', 'python']

In [38]:
my_lst= [1, 2, 3, 3]
index_val= my_lst.index(3)
index_val

2

In [39]:
index_val= my_lst.index(4)
index_val

ValueError: 4 is not in list

In [42]:
my_lst.count(3)

2

In [45]:
list_sort=[1,5,8,4,3,6,7,0,1]
list_sort.sort()
list_sort

[0, 1, 1, 3, 4, 5, 6, 7, 8]

In [46]:
list_sort.clear()
list_sort

[]

In [ ]:
tuple1=(1, 2, 3)
# tuple1[1]="depi" #False

TypeError: 'tuple' object does not support item assignment

In [49]:
nm = "depi"
tuple(nm)

('d', 'e', 'p', 'i')

In [55]:
tuple1=list(tuple1)
tuple1[0]="depi"
tuple(tuple1)

('depi', 2, 3)

In [ ]:
set1={"depi", "learning"}
# set1[0] #False

TypeError: 'set' object is not subscriptable

In [58]:
color={"red", "green", "blue"}
color.remove("green")
color

{'blue', 'red'}

In [60]:
color.discard("red")
color

{'blue'}

In [61]:
a={1, 2, 3}
b={3, 4, 5}
a.intersection(b)

{3}

In [62]:
a.union(b)

{1, 2, 3, 4, 5}

In [63]:
a.difference(b)

{1, 2}

In [65]:
dct1={"key1":12.5}
type(dct1)

dict

In [67]:
dct1["key1"]="depi"
dct1

{'key1': 'depi'}

In [72]:
x=int(input("enter num one"))
y=int(input("enter num two"))

print(f"{x} + {y} = {x+y}")
print(f"{x} * {y} = {x*y}")
print(f"{x} / {y} = {x/y}")
print(f"{x} - {y} = {x-y}")

8 + 6 = 14
8 * 6 = 48
8 / 6 = 1.3333333333333333
8 - 6 = 2

In [74]:
a=200
b=33

if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [75]:
x=5
y=10
if x>0 and y>0:
    print("positive numbers")

positive numbers

In [76]:
x= 5
"Even" if x%2==0 else "odd"

'odd'

In [78]:
a=10
b=5
result= a+b  if a>b else a-b
print(result)

15

In [81]:
age= 12
print("adult") if age>=18 else (print("teenager") if age >=13 else print("child"))

child

In [82]:
is_sunny=True
tem=25
if is_sunny :
    print("sunny day")
    if tem>20:
        print("warm")
    else:
        print("cool")
else: 
    print("not sunny day")

sunny day
warm

In [90]:
degree= int(input("Enter your grade"))
if degree >=0 and degree<=100:
    if degree>=90:
        grade="A"
    elif degree>=80:
        grade="B"
    elif degree>=70:
        grade="C"
    elif degree>=60:
        grade="D"
    else :
        grade="F"
    print(grade)   
else:
    print("invalid input, degree must be betwwen 0 and 100")

A

In [91]:
for i in range(6):
    if i==3:
        break
    print(i)

0
1
2

In [92]:
for i in range(6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

In [93]:
for i in range(6):
    if i==3:
        pass
    print(i)

0
1
2
3
4
5

In [95]:
x=6
while x>0:
    print("python")
    x-=1

python
python
python
python
python
python